# <p style="background-color:#2e2b5f;font-family:Creepster,cursive;color:#ffffff;font-size:120%;text-align:center;border-radius:10px 10px;"> Mis primeros pasos en Python para Data Science </p>
---

[![Banner-Primeros-Pasos-Python.png](https://i.postimg.cc/HLBTDvtc/Banner-Primeros-Pasos-Python.png)](https://postimg.cc/rd0B5J3M)

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#sec_1">Variables y Tipos de Datos</a>  
2. <a href="#sec_2">Operadores</a>  
3. <a href="#sec_3">Estructuras de Control de Flujo</a>
4. <a href="#sec_4">Estructura de Datos</a>  
5. <a href="#sec_5">Entrada y Salida de Datos</a>
6. <a href="#sec_6">Introducci贸n a la libreria Pandas</a>    

 
</font>
</div>

<a id='sec_1'></a>
## `1. Comentarios, Variables  y Tipos de Datos`

En esta secci贸n, aprender谩s a trabajar con las variables y los tipos de datos b谩sicos en Python.

1. **Comentar tu c贸digo:** Los comentarios ayudan a que tu c贸digo sea m谩s comprensible para ti y para otros, explicando la funci贸n de cada parte.

2. **Definir y asignar variables:** Entender c贸mo crear y asignar variables en Python para almacenar informaci贸n.

3. **Tipos de datos primitivos:** Familiarizarte con los tipos de datos m谩s comunes en Python: `int` (n煤meros enteros), `float` (n煤meros decimales), `str` (cadenas de texto), `bool` (valores booleanos).

**1.1. Comentar tu c贸digo**

In [430]:
# Esto es un comentario de una sola l铆nea

In [431]:
edad = 25  # Comentario al final de una l铆nea de c贸digo

In [432]:
"""
Comentario de varias l铆neas,
aunque suele utilizarse para documentar funciones o clases.
"""

'\nComentario de varias l铆neas,\naunque suele utilizarse para documentar funciones o clases.\n'

In [433]:
def suma(a, b):
    """
    Calcula la suma de dos n煤meros.

    Par谩metros:
    a (int o float): El primer n煤mero.
    b (int o float): El segundo n煤mero.

    Retorna:
    int o float: La suma de a y b.
    """
    return a + b

**1.1. Definir y asignar variables**

In [434]:
# Valor entero
edad = 25

In [435]:
# Valor decimal (float)
altura = 1.75

In [436]:
# Cadena de texto (str)
nombre = "Ana"

In [437]:
# Valor booleano
es_estudiante = True

In [438]:
# Valor CONSTANTE
MY_CONSTANTE = 'Mi constante'

**1.2. Identificar tipos de datos**

In [439]:
print(type(edad))

<class 'int'>

In [440]:
print(type(altura))

<class 'float'>

In [441]:
print(type(nombre))

<class 'str'>

In [442]:
print(type(es_estudiante))

<class 'bool'>

In [443]:
print(type(MY_CONSTANTE))

<class 'str'>

<a id='sec_2'></a>
## `2. Operadores`

En esta secci贸n, aprender谩s a trabajar con los diferentes tipos de operadores aritmeticos, de comparaci贸n, logicos, asignacion, identidad, pertenencia.

1. **Operadores aritmeticos:** Permiten realizar operaciones matem谩ticas b谩sicas, como suma (`+`), resta (`-`), multiplicaci贸n (`*`), divisi贸n (`/`), m贸dulo (`%`), y potenciaci贸n (`**`).

2. **Operadores de comparaci贸n:**  Comparan valores y devuelven True o False, como `==` , `!=` (diferente de), `>` (mayor que), `<` (menor que), `>=` (mayor o igual que) y `<=` (menor o igual que).

3. **Operadores logicos:** Usados para combinar condiciones l贸gicas. Incluyen `and`, `or` y `not`.

4. **Operadores de asignacion:** Usados para asignar valores a variables, como `=`. Tambi茅n incluyen `+=`, `-=`, `*=`, `/=`.

5. **Operadores de identidad:** Determinan si dos variables apuntan al `mismo objeto en memoria`. Incluyen `is` (devuelve True si son el mismo objeto) y `is not` (devuelve True si no lo son).

6. **Operadores de pertenencia:** Verifican si un valor se encuentra dentro de una secuencia (como una lista o cadena). Incluyen `in` y `not in.

**2.1 Operadores aritmeticos**

In [444]:
a = 5
b = 3

In [445]:
resultado_suma = a + b
print("Suma:", resultado_suma)

Suma: 8

In [446]:
resultado_resta = a - b
print("Resta:", resultado_resta)

Resta: 2

In [447]:
resultado_multiplicacion = a * b
print("Multiplicaci贸n:", resultado_multiplicacion)

Multiplicaci贸n: 15

In [448]:
resultado_division = a / b
print("Divisi贸n:", resultado_division)

Divisi贸n: 1.6666666666666667

In [449]:
resultado_division_entera = a // b
print("Divisi贸n Entera:", resultado_division_entera)

Divisi贸n Entera: 1

In [450]:
resultado_modulo = a % b
print("M贸dulo:", resultado_modulo)

M贸dulo: 2

In [451]:
resultado_potencia = a ** b
print("Potencia:", resultado_potencia)

Potencia: 125

**2.2 Operadores comparaci贸n**

In [452]:
a = 5
b = 3

In [453]:
resultado_igual = a == b
print("Igual a:", resultado_igual)

Igual a: False

In [454]:
resultado_diferente = a != b
print("Diferente de:", resultado_diferente)

Diferente de: True

In [455]:
resultado_mayor = a > b
print("Mayor que:", resultado_mayor)

Mayor que: True

In [456]:
resultado_menor = a < b
print("Menor que:", resultado_menor)  # Salida: False

Menor que: False

In [457]:
resultado_mayor_igual = a >= b
print("Mayor o igual que:", resultado_mayor_igual)

Mayor o igual que: True

In [458]:
resultado_menor_igual = a <= b
print("Menor o igual que:", resultado_menor_igual)

Menor o igual que: False

**2.3 Operadores Logicos**

In [459]:
a = 10
b = 5

In [460]:
print("AND:", (a > b) and (a > 0))

AND: True

In [461]:
print("OR:", (a > b) or (a < 0))

OR: True

In [462]:
print("NOT:", not (a > b))

NOT: False

**2.4 Operadores de asignacion**

In [463]:
x = 10

In [464]:
print("Asignaci贸n =", x)

Asignaci贸n = 10

In [465]:
x += 5  # Equivalente a x = x + 5
print("Suma y asignaci贸n (+=):", x)

Suma y asignaci贸n (+=): 15

In [466]:
x -= 3  # Equivalente a x = x - 3
print("Resta y asignaci贸n (-=):", x)

Resta y asignaci贸n (-=): 12

In [467]:
x *= 2  # Equivalente a x = x * 2
print("Multiplicaci贸n y asignaci贸n (*=):", x)

Multiplicaci贸n y asignaci贸n (*=): 24

In [468]:
x /= 4  # Equivalente a x = x / 4
print("Divisi贸n y asignaci贸n (/=):", x)

Divisi贸n y asignaci贸n (/=): 6.0

In [469]:
x %= 5  # Equivalente a x = x % 5
print("M贸dulo y asignaci贸n (%=):", x)

M贸dulo y asignaci贸n (%=): 1.0

In [470]:
x **= 3  # Equivalente a x = x ** 3
print("Potenciaci贸n y asignaci贸n (**=):", x)

Potenciaci贸n y asignaci贸n (**=): 1.0

In [471]:
x //= 2  # Equivalente a x = x // 2
print("Divisi贸n entera y asignaci贸n (//=):", x)

Divisi贸n entera y asignaci贸n (//=): 0.0

**2.5 Operadores de identidad**

In [472]:
a = [1, 2, 3]
b = a 
c = [1, 2, 3]

In [473]:
print("a is b:", a is b)
print("a is c:", a is c)

a is b: True
a is c: False

In [474]:
print("a is not c:", a is not c)
print("a is not b:", a is not b)

a is not c: True
a is not b: False

In [475]:
print("Direcci贸n de memoria de a:", id(a))
print("Direcci贸n de memoria de b:", id(b))
print("Direcci贸n de memoria de c:", id(c))

Direcci贸n de memoria de a: 1746536753984
Direcci贸n de memoria de b: 1746536753984
Direcci贸n de memoria de c: 1746541185152

**2.6 Operadores de pertencia**

In [476]:
lista = [1, 2, 3, 4, 5]
texto = "Hola mundo"

In [477]:
print(2 in lista)

True

In [478]:
print("Hola" in texto)

True

In [479]:
print(6 not in lista)

True

In [480]:
print("Python" not in texto)

True

<a id='sec_3'></a>
## `3. Estructuras de Control de Flujo`

En esta secci贸n, aprender谩s a utilizar las estructuras de control de flujo en Python, que permiten tomar decisiones y ejecutar bloques de c贸digo de manera repetitiva. Estas estructuras son esenciales para la l贸gica de cualquier programa.

1. **Condicionales (`if`, `elif`, `else`):** Permiten ejecutar un bloque de c贸digo solo si se cumple una condici贸n espec铆fica. Con estas, puedes tomar decisiones y dirigir el flujo del programa en funci贸n de condiciones l贸gicas.

2. **Bucles (`for` y `while`):** Facilitan la repetici贸n de bloques de c贸digo. `for` se utiliza com煤nmente para iterar sobre una secuencia (como una lista o cadena), mientras que `while` repite un bloque de c贸digo mientras una condici贸n sea verdadera.

3. **Sentencias de Control (`break`, `continue`, `pass`):** Ayudan a modificar el flujo dentro de los bucles. `break` termina el bucle antes de que finalice su ejecuci贸n, `continue` omite la iteraci贸n actual y pasa a la siguiente, y `pass` se utiliza como marcador de posici贸n sin realizar ninguna acci贸n.

Estas estructuras de control de flujo te permitir谩n crear programas din谩micos y responder a diferentes condiciones y situaciones en tu c贸digo.

**3.1 Condicionales**

In [481]:
edad = 18

if edad < 18:
    print("Eres menor de edad.")
elif edad == 18:
    print("Acabas de alcanzar la mayor铆a de edad.")
else:
    print("Eres mayor de edad.")

Acabas de alcanzar la mayor铆a de edad.

**3.2 Bucles (for y while)**

In [482]:
numeros = [1, 2, 3, 4, 5]
for numero in numeros:
    print("N煤mero:", numero, end = ' ')

N煤mero: 1 N煤mero: 2 N煤mero: 3 N煤mero: 4 N煤mero: 5

In [483]:
contador = 0
while contador < 5:
    print("Contador:", contador)
    contador += 1

Contador: 0
Contador: 1
Contador: 2
Contador: 3
Contador: 4

**3.3 Sentencias de Control (break, continue, pass)**

In [484]:
for i in range(10):
    if i == 5:
        break  # Termina el bucle cuando i es igual a 5
    print(i)

0
1
2
3
4

In [485]:
for i in range(5):
    if i == 3:
        continue  
    print(i)

0
1
2
4

In [486]:
for i in range(0,5,2):
    if i == 2:
        pass  # No realiza ninguna acci贸n, solo se usa como marcador de posici贸n
    print(i)

0
2
4

<a id='sec_4'></a>
## `4. Estructuras de Datos`

En esta secci贸n, aprender谩s sobre las estructuras de datos en Python, que te permiten almacenar, organizar y manipular informaci贸n de diversas maneras. Estas estructuras son fundamentales para manejar datos de manera eficiente.

1. **Listas:** Son colecciones ordenadas y modificables. Puedes almacenar m煤ltiples elementos y acceder a ellos mediante 铆ndices. Las listas permiten agregar, eliminar y modificar elementos, y son ideales para secuencias de datos.

2. **Tuplas:** Son colecciones ordenadas e inmutables, lo que significa que una vez creadas, no pueden ser modificadas. Las tuplas son 煤tiles para almacenar datos que no deben cambiar, como coordenadas o configuraciones fijas.

3. **Conjuntos (`set`):** Son colecciones desordenadas y sin elementos duplicados. Los conjuntos son ideales para operaciones de pertenencia y para eliminar duplicados de una colecci贸n.

4. **Diccionarios (`dict`):** Son colecciones desordenadas de pares clave-valor. Permiten acceder r谩pidamente a valores mediante una clave. Los diccionarios son 煤tiles para almacenar informaci贸n asociativa, como datos de una persona o configuraciones de un sistema.

**4.1 Listas**

In [487]:
frutas = ["manzana", "banana", "cereza"]

In [488]:
print(frutas[2])

cereza

In [489]:
frutas[1] = "pera"
print(frutas)

['manzana', 'pera', 'cereza']

In [490]:
frutas.append("naranja")
print(frutas)

['manzana', 'pera', 'cereza', 'naranja']

In [491]:
frutas.remove("cereza")
print(frutas)

['manzana', 'pera', 'naranja']

**4.2 Tuplas**

> - Las tuplas son inmutables, por lo que no puedes modificar sus elementos.
> - Intentar modificar una tupla generar谩 un error:
> - coordenadas[0] = 15  # Esto generar铆a un error

In [492]:
coordenadas = (10, 20)
print(coordenadas[0])

10

**4.2 Set**

> - Los conjuntos no permiten duplicados

In [493]:
colores = {"rojo", "verde", "azul"}

In [494]:
colores.add("amarillo")
print(colores)

{'verde', 'rojo', 'azul', 'amarillo'}

In [495]:
colores.discard("verde")
print(colores)

{'rojo', 'azul', 'amarillo'}

In [496]:
colores.add("rojo")
print(colores)

{'rojo', 'azul', 'amarillo'}

**4.2 Diccionarios**

In [497]:
estudiante = {
    "nombre": "Ana",
    "edad": 21,
    "carrera": "Ingenier铆a"
}

In [498]:
print(estudiante["nombre"])

Ana

In [499]:
estudiante["edad"] = 22
print(estudiante)

{'nombre': 'Ana', 'edad': 22, 'carrera': 'Ingenier铆a'}

In [500]:
estudiante["universidad"] = "UTEC"
print(estudiante)

{'nombre': 'Ana', 'edad': 22, 'carrera': 'Ingenier铆a', 'universidad': 'UTEC'}

In [501]:
del estudiante["carrera"]
print(estudiante)

{'nombre': 'Ana', 'edad': 22, 'universidad': 'UTEC'}

<a id='sec_5'></a>
## `5. Entrada y Salida de Datos`

En esta secci贸n, aprender谩s sobre las operaciones de entrada y salida de datos en Python, que te permiten interactuar con los usuarios y manipular archivos. Estas operaciones son esenciales para obtener informaci贸n, procesarla y mostrar resultados.

1. **Entrada de datos**: Esto es 煤til para crear programas interactivos donde el usuario puede proporcionar informaci贸n que el programa procesar谩.

2. **Salida de datos**: Es esencial para dar feedback al usuario y mostrar los resultados de los c谩lculos o procesos realizados por el programa.

**5.1 Entraada de datos**

In [502]:
nombre = input("Por favor, ingresa tu nombre: ")
print("Hola, " + nombre)

Hola, 2

**5.2 Salida de datos**

In [503]:
edad = 25
print("Tienes", edad, "a帽os.")

Tienes 25 a帽os.

<a id='sec_5'></a>
## `6. Introducci贸n a la libreria Pandas`

En esta secci贸n, aprender谩s sobre la librer铆a `pandas` en Python, una herramienta poderosa para la manipulaci贸n y an谩lisis de datos. `pandas` permite trabajar con datos en estructuras como tablas (DataFrames), que son f谩ciles de manipular, filtrar y transformar.

1. **Carga de datos**: `pandas` permite leer datos desde diversas fuentes, como archivos CSV, Excel, SQL y otros formatos. Esto facilita la importaci贸n de grandes vol煤menes de datos en un formato estructurado para su an谩lisis.

2. **Manipulaci贸n de datos**: Con `pandas`, puedes realizar operaciones como seleccionar, filtrar y transformar datos. Puedes aplicar funciones, agrupar datos y realizar c谩lculos en columnas espec铆ficas, lo que es fundamental para el an谩lisis y limpieza de datos.

Estas capacidades hacen de `pandas` una herramienta esencial en el an谩lisis de datos en Python, permiti茅ndote manejar grandes cantidades de informaci贸n de manera r谩pida y eficaz.

**6.1 Carga de datos**

**6.1.1 Diccionario de datos disponibles**

| **Clave**      | **Descripci贸n**                                                             | **Tipo de dato** |
|----------------|-----------------------------------------------------------------------------|------------------|
| PassengerId    | Identificador 煤nico para cada pasajero                                      | Int              |
| Survived       | Indica si el pasajero sobrevivi贸 (1: s铆, 0: no)                             | Int              |
| Pclass         | Clase del pasajero (1: Primera clase, 2: Segunda clase, 3: Tercera clase)   | Int              |
| Name           | Nombre completo del pasajero                                                | Object           |
| Sex            | G茅nero del pasajero (male: masculino, female: femenino)                     | Object           |
| Age            | Edad del pasajero                                                           | Float            |
| SibSp          | N煤mero de hermanos/esposas a bordo                                          | Int              |
| Parch          | N煤mero de padres/hijos a bordo                                              | Int              |
| Ticket         | N煤mero de ticket del pasajero                                               | Object           |
| Fare           | Tarifa pagada por el pasajero                                               | Float            |
| Cabin          | N煤mero de cabina asignada (si aplica)                                       | Object           |
| Embarked       | Puerto de embarque (C: Cherbourg, Q: Queenstown, S: Southampton)            | Object           |

In [504]:
import pandas as pd

In [505]:
df = pd.read_csv('data/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [506]:
print(f'El n煤mero de filas es: {df.shape[0]}')
print(f'El n煤mero de columnas es: {df.shape[1]}')

El n煤mero de filas es: 891
El n煤mero de columnas es: 12

**Entender qu茅 tipos de datos tenemos en cada columna**

In [507]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

>**Observaci贸n**
> - Al poder observar a mas detalle el tipo de dato que tiene cada columna, se pudo ver que exiten datos de tipo `int`  y `Object`.
> - Al poder observar a mas detalle se tiene en cantida de tipo de dato `float64(2)`, `int64(5)`, `object(5)`

**Verificar si hay datos faltantes y valores duplicados**

In [508]:
df.duplicated().sum()

0

>**Observaci贸n**
> - Al observar se pudo evidenciar que `no hay valores duplicados`.

In [509]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

>**Observaci贸n**
> - Al observar se pudo evidenciar que `si hay valores nulos.`

In [510]:
df = df.drop(columns = ['Cabin','PassengerId'])

In [511]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 69.7+ KB

In [512]:
promedio_edad = df['Age'].mean()
moda_embarked = df['Embarked'].mode()

In [513]:
moda_embarked

0    S
Name: Embarked, dtype: object

In [514]:
df['Age'] = df['Age'].fillna(promedio_edad)
df['Embarked'] = df['Embarked'].fillna('S')

In [515]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       891 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 69.7+ KB

>**Observaci贸n**
> - Al observar se pudo evidenciar que `no hay valores nulos.`

**Verificar si hay datos outliers mediante gr谩ficos**

In [516]:
# Carpeta para guardar las im谩genes
import os
output_dir = './Gr谩ficos_Outliers'
os.makedirs(output_dir, exist_ok=True)

In [517]:
import matplotlib.pyplot as plt
import seaborn as sns
numeric_columns = df.select_dtypes(include='number').columns.to_list()

plt.style.use('ggplot')
sns.set_context("talk")

for column in numeric_columns:
    plt.figure(figsize=(10, 6)) 
    sns.boxplot(y=df[column], color='skyblue') 
    plt.title(f'Boxplot de {column}', fontsize=16)  
    plt.ylabel('cantidad', fontsize=14) 
    plt.xlabel(column, fontsize=14)
    plt.grid(True, linestyle='--', alpha=0.7) 
    plt.savefig(f'{output_dir}/Boxplot_de_{column}.png', bbox_inches='tight') 
    plt.close()

print(f'Gr谩ficos guardados con 茅xito!')

Gr谩ficos guardados con 茅xito!

**Realizar el resumen estad铆stico**

In [518]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.000000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.000000,3.0,3.0000
Age,891.0,29.699118,13.002015,0.42,22.0000,29.699118,35.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.000000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.000000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.454200,31.0,512.3292

**Consejos Adicionales**

### 1. Organizaci贸n de Proyectos
- **Estructura de Carpetas**: Mantener una estructura de carpetas clara en tu proyecto, como:
  - `/data` para los datos,
  - `/scripts` para los c贸digos,
  - `/notebooks` para cuadernos Jupyter.
- **Uso de Git**: Utiliza Git para el control de versiones.
- **Documentaci贸n del C贸digo**: Agrega comentarios para que sea comprensible lo que se esta realizando.

### 2. Uso de Bibliotecas Comunes
- **Pandas para Manipulaci贸n de Datos**: 
  - Ejemplos b谩sicos: `df.head()`, `df.describe()`, y operaciones de filtrado y agrupaci贸n.
- **Matplotlib y Seaborn para Visualizaci贸n**: 
  - Visualizaci贸n b谩sica: gr谩ficos de barras, l铆neas, histogramas para entender mejor los datos.
- **NumPy para Operaciones Num茅ricas**: Utiliza NumPy para realizar c谩lculos r谩pidos en grandes conjuntos de datos.

### 3. Recursos de Aprendizaje Continuo
- **Documentaci贸n Oficial**: Consultar la documentaci贸n oficial de las bibliotecas, es una fuente confiable y completa.
- **Foros y Comunidades**: Participa en comunidades como Stack Overflow para hacer preguntas y aprender de otros.
- **Ejemplos y Pr谩ctica**: Realiza proyectos peque帽os, como an谩lisis de conjuntos de datos p煤blicos, para afianzar el aprendizaje.

### 4. Recomendaci贸n de Herramientas
- **Jupyter Notebook**: Recomendado para an谩lisis y visualizaci贸n interactivos.
- **VS Code**: Es un editor de c贸digo ligero con soporte para Python.
- **Bibliotecas Populares**: Pandas, NumPy, y Scikit-Learn para an谩lisis de datos y Machine Learning.